[defaults]
inventory = ./inventory.yml
host_key_checking = True
private_key_file = ./tmp/ansible-key
vault_password_file = ./.vault_pass
#remote_user = maxomskaoe
interpreter_python = auto_silent
log_path = ./ansible.log
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True
